*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

* {
	transition: all .5s ease;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body::-webkit-scrollbar {
	width: 4px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
	background: #1e1e1e;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
	background-color: #7d7d7d;    /* цвет плашки */
	border-radius: 10px;       /* закругления плашки */
	border: none;  /* padding вокруг плашки */
}
body {
	scrollbar-width: thin;          /* "auto" или "thin"  */
	scrollbar-color: #7d7d7d #1e1e1e   /* плашка скролла и дорожка */ 
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'Manrope', sans-serif;
	overflow-x: hidden;
	background: #1E1E1E;
	color: #fff;
	width: 100%;
}
.hidden {
	display: none;
}

/* DEFAULT STYLES */

.title {
	font-family: 'Anticva', sans-serif;
}

.color-text {
	color: #DBBC9A;
}

.btn {
	font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #121212;
    text-align: center;
    padding: 12px 19px;
    gap: 10px;
    background: #C4A27A;
    border-radius: 40px;
}

.btn:hover {
	background: #121212;
	color: #C4A27A;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
}

input {
	outline: 0;
}

input::-webkit-input-placeholder {
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 92%;
	color: #F5F5F5;
}
input::-moz-placeholder {
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 92%;
	color: #F5F5F5;
}
input:-moz-placeholder {
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 92%;
	color: #F5F5F5;
}
input:-ms-input-placeholder {
	font-family: 'Manrope', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 92%;
	color: #F5F5F5;
}

.default__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 125%;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* HEADER */

header.header {
	position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 22px 160px;
    align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 100%;
	z-index: 999;
	font-size: 18px;
	opacity: 1;
}

.header .btn {
	font-size: 18px;
}

.header-right, .header-left {
	display: flex;
	align-items: center;
}

.burger-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-icon {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.icon-line {
	background-color: #DBBC9A;
	width: 31px;
	height: 1px;
	margin-bottom: 5px;
}

.icon-line:last-child {
	margin-bottom: 0;
}

button.select-btn {
	border: 1px solid #C4A27A;
    background: transparent;
	margin-left: 56px;
	color: #fff;
}

button.select-btn:hover {
	background: #C4A27A;
	color: #121212;
	border: 1px solid transparent;
}

.burger-text {
	margin-left: 16px;
}

.phone-btn {
	color: #fff; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.phone-btn:hover {
	color: #fff;
}

.phone-btn:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: #fff; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.phone-btn:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px; /* Высота линии */
    background-color: #fff; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

button.call-btn {
	margin-left: 50px;
	border: none;
	border: 1px solid transparent;
}

button.call-btn:hover {
	background: #121212;
	color: #C4A27A;
}

/* POST-HEADER */

.post-header {
	position: relative;
	display: flex;
	justify-content: flex-end;
	height: 100vh;
	background: #1e1e1e;
}

.post-header-wrapper {
    max-width: 1338px;
    overflow: hidden;
}

.post-header-bg {
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.firsts-text-header, .club-text-header, .post-header-mini {
	position: absolute;
	z-index: 1;
}

.firsts-text-header {
	left: 160px;
	bottom: 85px;
}

.club-text-header {
	left: 580px;
	bottom: 140px;
}

.post-header-mini {
	top: 238px;
	left: 493px;
	max-height: 111px;
}

.post-header-bg {
	z-index: 0;
}

.down-arrow {
	position: absolute;
	display: flex;
	padding: 79px;
	background-color: rgba(6, 6, 6, 0.5);
	background-image: url(../img/down-arrow.svg);
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 1px solid #DBBC9A;
	bottom: 60px;
	right: 141px;
	z-index: 1;
}

.down-arrow:hover {
	background-color: rgba(6, 6, 6, 1);
}

/* DESCRIPTION */

.description {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 288px 0;
	font-family: 'Anticva', sans-serif;
	font-size: 36px;
	position: relative;
}

.ds_bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.description__title {
	font-weight: 400;
	font-size: 36px;
	line-height: 125%;
	margin-bottom: 35px;
	font-size: 20px;
	color: #DBBC9A;
}

.description__text {
	text-align: center;
}

/* VIDEO */

.section {
    position: relative;
	margin-bottom: 293px;
}

.sticky__wrapper {
    position: relative;
    height: 250vh;
    max-height: 2500px;
}

.sticky__element {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sticky__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 74vw;
    height: 46vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 46vw;
}

.sticky__button__wrapper {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    border-radius: 10vw;
    cursor: pointer;
}

.sticky__img {
    width: 100vw;
    height: 100vh;
    max-width: none;
    min-height: 100vh;
    min-width: 100vw;
    -o-object-fit: cover;
    object-fit: cover;
}

.sticky__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: -1;
    width: 100%;
    height: 50%;
    background-color: #f7f5ec;
}

.sticky__btn-wrapper {
    position: absolute;
    max-height: 45px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.sticky__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #121212;
    text-align: center;
    padding: 12px 19px;
    gap: 10px;
    background: #C4A27A;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    max-width: 150px;
	border: 1px solid transparent
}

.sticky__btn:hover {
	background: #121212;
	color: #C4A27A;
}

/* SLIDER */

.main-slider {
    display: flex;
    position: relative;
}

.slider__img {
    position: relative;
}

.img__list {
    position: relative;
    max-width: 1152px;
    max-height: 848px;
    overflow: hidden;
}

.main__slider-img {
    z-index: -1;
    position: relative;
    scale: 1.2;
}

.prev-arrow, .next-arrow {
	position: absolute;
	display: flex;
	width: 128px;
	height: 128px;
	justify-content: center;
	align-items: center;
	background-color: rgba(18, 18, 18, 0.25);
	backdrop-filter: blur(2px);
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.prev-arrow {
    background-image: url(../img/prev-arrow.svg);
    bottom: 0;
    right: 0;
    transform: translateX(-100%);
}

.next-arrow {
	background-image: url(../img/next-arrow.svg);
	background-color: rgba(18, 18, 18, 0.69);
	bottom: 0;
    right: 0;
}

.slider__title {
    position: absolute;
    left: 50%;
	font-weight: 400;
	top: 47px;
	transform: translateX(-60px);
}

.subtitle {
	font-size: 15px;
	line-height: 18px;
	color: #DBBC9A;
	text-shadow: 0px 0px 60px #000000;
}

.gentitle {
	font-size: 82px;
	line-height: 99px;
	color: #FFFFFF;
}

.slider__lines {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.slider__description {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0 0 60px 121px;
}

/* CONTENT IMG */

.content-img {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    padding-bottom: 421px;
    position: relative;
    z-index: 9;
    background: #1e1e1e;
}

.mask-group, .mask-group-wrapper {
	position: relative;
}

.mask-group-wrapper:nth-child(2) {
	margin: 0 20px;
}

.mask-group-wrapper {
	max-width: 520px;
	max-height: 680px;
	overflow: hidden;
}

.mask-group-wrapper:nth-child(2) {
	max-width: 520px;
	max-height: 836px;
}

.mask-group:nth-child(1) {
	z-index: 1;
}

.mask-group {
	scale: 1.2;
}

.eclipse {
    position: absolute;
	z-index: 999;
}

/* PARTNERS */

.partners {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 718px;
	position: relative;
	background: #1e1e1e;
	z-index: 99;
}

.partners__title-wrapper {
	height: 77px;
	overflow: hidden;
	position: relative;
}

.partners__title {
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	color: #DBBC9A;
	text-shadow: 0px 0px 60px #000000;
	position: relative;
}

.partners__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	position: relative;
	margin-top: 44px;
}

.partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #303030;
	position: relative;
	width: 100%;
	height: 100%;
	padding: 245px 0;
}

.partners__item::after {
    content: '';
    width: 1px;
    height: 597px;
    background: #303030;
    position: absolute;
    right: 0;
}

.partner__info {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0 0 25px 25px;
	font-weight: 400;
	font-size: 15px;
	line-height: 142%;
	text-transform: uppercase;
	color: #FFFFFF;
}

.partner__info .info__item:last-child {
	color: #DBBC9A;
}

/* LAYOUT */

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #F3F1EE;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(../img/layout_bg.jpg);
	padding: 148px 0 228px 0;
	position: relative;
}

.layout__title {
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	text-align: center;
	color: #DBBC9A;
}

.layout__description {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #121212;
	margin: 11px 0 55px 0;
}

.layout__list {
	display: flex;
	flex-direction: row;
}

.layout__item {
	position: relative;
}

.layout__item:nth-child(2) {
	margin: 0 20px;
}

.more__layout {
	display: none;
}

.layout__item.active .more__layout {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #DBBC9A;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #121212;
	text-transform: uppercase;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
	border: 1px solid transparent;
}

.layout__item.active .more__layout:hover {
	background: #121212;
	color: #C4A27A;
}

/* INFRASTRUCTURE */

.infrastructure {
	position: relative;
}

.i__img {
    display: flex;
    max-height: 1670px;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.i__img img {
    scale: 1.25;
    position: relative;
}

.infrastructure__item {
	position: absolute;
	bottom: -10%;
	left: 30px;
	padding: 104px 130px;
	background: #F3F1EE;
	display: flex;
	flex-direction: column;
	max-width: 805px;
	z-index: 1;
}

.i__title {
	font-weight: 400;
	font-size: 54px;
	line-height: 65px;
	color: #121212;
}

.i__text {
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	color: #000000;
	margin: 46px 0 51px 0;
	max-width: 385px;
}

.i__btn {
    max-width: 134px;
}

/* MAP */

.map {
	background: #DBBC9A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-top: 240px;
	color: #000;
}

.map__text {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    padding: 95px 295px 112px 295px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	position: relative;
}

.map__text-item {
	max-width: 385px;
	padding-left: 20px;
}

.map__footer-title {
	font-weight: 400;
	font-size: 88px;
	line-height: 106px;
	color: #121212;
	width: 100%;
	margin-bottom: 76px;
	position: relative;
}

.sticky__map {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sticky__mapcontent {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 74vw;
    height: 46vw;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sticky__mapimg {
	position: absolute;
    object-fit: cover;
	opacity: 0;
}

.sticky__mapimg.map_icons {
    left: 243px;
    top: 227px;
}

.sticky__mapimg.map_logo {
    left: 720px;
    top: 465px;
}

.footer-title-item {
	display: block;
}

.footer-title-item:first-child {
    margin-left: 156px;
}

.footer-title-item:last-child {
    margin-left: 434px;
}

/* GALLERY */

.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 562px 0;
	background: url(../img/g_bg.svg) no-repeat center 558px;
}

.gallery__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gallery__text {
	color: #DBBC9A;
    font-weight: 400;
    font-size: 128px;
    line-height: 154px;
    margin-bottom: 15px;
    height: 154px;
    overflow: hidden;
    position: relative;
}

.gallery__text-value {
    position: relative;
}

.gallery__btn {
    z-index: 1;
    padding-top: 15px;
    height: 52px;
    overflow: hidden;
    position: relative;
}

.gallery__btn-value {
    position: relative;
}

.gallery__btn-value:hover, .news__all-btn:hover {
	background: transparent;
	border: 1px solid #C4A27A;
	color: #fff;
}

.gallery__item {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    left: 0;
}

.g__item-num {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #DBBC9A;
    margin-left: 5px;
}

.gallery__item:nth-child(1) {
	top: 354px;
	left: 367px;
	z-index: -1;
}

.gallery__item:nth-child(2) {
	top: 204px;
	right: 182px;
}

.gallery__item:nth-child(3) {
	top: 753px;
	right: 73px;
}

.gallery__item:nth-child(4) {
	top: 861px;
	right: 495px;
}

.gallery__item:nth-child(5) {
	top: 139px;
	left: 0;
}

.gallery__item:nth-child(6) {
	top: 925px;
	left: 295px;
}

/* STEPS */

.steps {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 160px 250px 160px;
	height: 1147px;
}

.steps__title-wrapper {
    overflow: hidden;
}

.steps__title {
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	text-transform: uppercase;
	color: #DBBC9A;
	position: relative;
}

.steps__overlay {
	height: 820px;
	overflow: hidden;
}

.steps__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
    align-items: center;
	margin-top: 44px;
	position: relative;
}

.s__slider-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	margin-top: 17px;
}

/* NEWS */

.news {
	display: flex;
	flex-direction: column;
	padding: 0 160px 300px 160px;
}

.news__title-wrapper, .news__nav-wrapper {
	position: relative;
	overflow: hidden;
}

.news__title-wrapper {
	height: 77px;
}

.news__nav-wrapper {
    height: 75px;
    margin: 20px 0 31px 0;
    display: flex;
}

.news__title {
	font-size: 64px;
	line-height: 77px;
	position: relative;
}

.news__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 31px;
    position: relative;
    width: 100%;
}

.news__arrow {
	display: flex;
}

.news__all-btn {
	border: 1px solid transparent;
}

.arrow-prev, .arrow-next {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 1px solid #C4A27A;
	background: url(../img/arrow_new.svg) no-repeat center center;
	cursor: pointer;
	margin: 0 11px;
}

.arrow-prev:hover, .arrow-next:hover {
	background-color: #C4A27A;
}

.arrow-next {
	transform: rotate(180deg);
}

.news__items {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.new__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 36px 29px 32px 29px;
	max-width: 520px;
	width: 100%;
	height: 534px;
	border: 1px solid rgba(255, 255, 255, 0.21);
	background: none;
	position: relative;
	transition: all .5s ease;
}

.new__item:before {
	z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: url(../img/news__item.svg);
    opacity: 0;
	transition: all .5s ease;
}

.new__item:hover {
	border: 1px solid #DBBC9A;
}

.new__item:hover:before {
	opacity: 1;
}

.n__item-text {
	color: #DBBC9A;
	font-weight: 400;
	font-size: 24px;
	line-height: 33px;
}

.n__item-date {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #868686;
}

.new__item:hover > .n__item-text {
	color: #fff;
}

/* CALL */

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 206px 0;
    position: relative;
    max-height: 950px;
    overflow: hidden;
	z-index: 1;
}

.call-img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	scale: 1.2;
}

.call__title-wrapper {
	height: 100px;
	position: relative;
	overflow: hidden;
	margin-bottom: 69px;
}

.call__title {
	font-weight: 400;
	font-size: 96px;
	line-height: 101.7%;
	text-align: center;
	color: #D8D8D8;
	position: relative;
}

.call__form {
	display: flex;
	flex-direction: column;
	max-width: 376px;
	width: 100%;
	position: relative;
}

.call__input {
	background: #121212;
	border: 1px solid #DBBC9A;
	border-radius: 49px;
	padding: 25px;
	margin-bottom: 22px;
	color: #fff;
}

.call__input:hover {
	background: #1212128e;
}

.call__input:focus {
	background: transparent;
	border: 1px solid #DBBC9A;
}

.politics {
	display: flex;
	margin-left: 5px;
	margin-bottom: 82px;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox+label {
	display: inline-flex;
	align-items: flex-start;
	user-select: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.04em;
	cursor: pointer;
}

.custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 17px;
	height: 17px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #fff;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	margin-right: 16px;
	margin-top: 5px;
}

.custom-checkbox:checked+label::before {
	border-color: #DBBC9A;
	background-color: #DBBC9A;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: #ebd3ba;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active+label::before {
	background-color: #ebd3ba;
	border-color: #ebd3ba;
  }
  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus+label::before {
	box-shadow: 0 0 0 0.2rem #6d5a468c;
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked)+label::before {
	border-color: #ebd3ba;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
	background-color: #e9ecef;
  }

  .submit__btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0.04em;
	color: #000000;
	border: none;
	margin: 0 auto;
	padding: 19px 51px;
	max-width: 211px;
  }

  .left__spiral, .right__spiral {
	position: absolute;
	transform-origin: 50% 50%;
  }

  .left__spiral img, .right__spiral img {
	position: relative;
	transform-origin: 50% 50%;
  }

  .left__spiral {
	left: -485px;
    bottom: -420px;
  }
  
  .right__spiral { 
	right: -485px;
    bottom: -420px;
  }

  /* FOOTER */

.footer {
	background: #C4A27A;
	display: flex;
	flex-direction: column;
	padding: 55px 160px;
	width: 100%;
	position: relative;
}

.footer__info {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #121212;
}

.f__address-item {
	margin-bottom: 40px;
}

.footer__phone {
	font-weight: 400;
	font-size: 96px;
	line-height: 115px;
	text-align: center;
	color: #121212;
}

.footer__links {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #313131;
	padding-top: 17px;
	margin-bottom: 170px;
	margin-top: 210px;
}

.footer-politics, .footer__phone {
	color: #121212; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}

.footer-politics:hover, .footer__phone:hover {
	color: #fff;
}

.footer-politics:after, .footer__phone:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: #fff; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.footer-politics:hover:after, .footer__phone:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 1px; /* Высота линии */
    background-color: #fff; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.f__links-item, .f__links-item a {
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #121212;
	text-transform: uppercase;
}

.beznebes {
    border-bottom: 1px solid #121212;
}

.beznebes:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.footer__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ----------- */
/*  PAGE ABOUT */
/* ----------- */

.header__info {
	padding-top: 397px;
	position: relative;
}

.header__info-title {
	font-weight: 400;
	font-size: 128px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	top: 313px;
	left: 50%;
	transform: translateX(-50%);
}

.down-arrow.h__info-btn {
	bottom: 944px;
}

/* PREMAIN */

.premain {
	background: url(../img/premain-bg.png) no-repeat center top;
	position: relative;
}

.premain__title {
	font-weight: 400;
	font-size: 112px;
	line-height: 125%;
	color: #DBBC9A;
	max-width: 750px;
	position: absolute;
	left: 307px;
	top: -222px;
}

.p__t-top {
	position: absolute;
	top: 377px;
	left: 1105px;
	max-width: 390px;
	text-transform: none;
}

.premain__slider {
	display: flex;
	padding-top: 694px;
	padding-left: 160px;
	justify-content: space-between;
}

.premain__slider-info {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #FFFFFF;
	max-width: 385px;
}

.p__slider-text:first-child {
	margin-bottom: 20px;
}

.p__slider-title {
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	color: #DBBC9A;
	margin-top: 107px;
}

.premain__slider-img {
	display: flex;
}

.premain__slider-item {
	margin-left: 20px;
}

.premain__slider-item:first-child {
	margin-left: 0;
}

/* FOOR PLAN */

.floor-plan {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 300px;
	margin-bottom: 290px;
}

.floor-plan__text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	padding: 0 160px;
	font-weight: 400;
	font-size: 40px;
	line-height: 125%;
	text-align: center;
	color: #FFFFFF;
}

.fp__text-item {
	opacity: 0.5;
}

.fp__text-item.active {
	opacity: 1;
}

/* ABOUT SLIDER */

.about-slider {
    position: relative;
	margin-bottom: 300px;
}

.about-slider img {
	border-radius: 0 0 52% 0;
}

.about-slider__text {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
    max-width: 655px;
    background: #DBBC9A;
    padding: 43px 35px 31px 41px;
    color: #000;
    position: absolute;
    width: 100%;
    height: 691px;
    top: 175px;
    right: 160px;
}

.a-s__text-block {
	display: flex;
	flex-direction: column;

}

.a-s__text-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #000000;
    margin-bottom: 22px;
}

.a-s__text-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #000000;
    max-width: 333px;
}

.a-s__text-btn {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.a-s__arrow-btn {
	display: flex;
}

.a-s__count {
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: #000000;
}

.arrow-prev-black, .arrow-next-black {
	width: 62px;
	height: 62px;
	border-radius: 50%;
	border: 1px solid #000;
	background: url(../img/arrow-black.svg) no-repeat center center;
	cursor: pointer;
}

.arrow-prev-black {
	transform: rotate(180deg);
	margin-right: 11px;
}