
 @media only screen and (min-width : 350px) and (max-width : 767px) {
	.post-header {
		height: 100%;
	}
	.post-header-wrapper {
		max-width: 100%;
		overflow: hidden;
	}
	.post-header-bg {
		width: 100%;
		height: 440px;
		object-fit: cover;
	}
	.post-header-mini, .select-btn, .phone-btn, button.call-btn {
		display: none;
	}
	header.header {
		padding: 18px;
	}
	.burger-text {
		display: none;
	}
	.logo {
		width: 145px;
		background-size: 100%;
	}
	.firsts-text-header {
		left: 18px;
		top: 398px;
		max-width: 293px;
		bottom: auto;
	}
	.club-text-header {
		left: 70px;
		bottom: auto;
		max-width: 229px;
		top: 500px;
	}
	.down-arrow {
		display: none;
	}
	.mobile__phone {
		display: flex;
	}
	.ds_bg {
		position: absolute;
		top: 8%;
		left: -109%;
		z-index: -1;
		width: 259%;
	}
	.burger-icon {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 41px;
		background: rgba(0, 0, 0, 0.41);
		border: 2.048px solid #DBBC9A;
		border-radius: 50%;
		height: 41px;
		align-items: center;
	}
	.icon-line {
		background-color: #ffffff;
		width: 23px;
		height: 1px;
		margin-bottom: 5px;
		transition: all .5s ease;
	}
	.burger-btn:hover > .burger-icon .icon-line {
		width: 30px;
		margin-bottom: 1px;
		margin-top: 2px;
	}
	a.mobile__phone {
		width: 41px;
		height: 41px;
		padding: 0;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.41);
		border: 2.048px solid #DBBC9A;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mobile__phone img {
		width: 40%;
	}
	main {
		position: relative;
		overflow: hidden;
	}
	.description__title {
		display: none;
	}
	.description__text {
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
	}
	.description {
		padding: 261px 0 149px 0;
	}
	.sticky__wrapper {
		position: relative;
		height: 100%;
		max-height: 100%;
	}
	.sticky__element {
		height: 100%;
	}
	.sticky__content {
		width: 90vw;
		height: 58vw;
	}
	.sticky__img {
		width: 100%;
		height: 100%;
		max-width: none;
		min-height: 100%;
		min-width: 100vw;
		-o-object-fit: cover;
		object-fit: cover;
	}
	.section {
		margin-bottom: 148px;
	}
	.main__slider-img {
		z-index: -1;
		position: relative;
		scale: 1;
		max-width: 325px;
		object-fit: cover;
	}
	.slider__lines img {
		max-height: 179px;
	}
	.main-slider {
		display: flex;
		position: relative;
		align-items: flex-end;
	}
	.subtitle {
		display: none;
	}
	.slider__title {
		position: absolute;
		left: 50%;
		font-weight: 400;
		top: 115%;
		transform: translateX(-50%);
	}
	.gentitle.title {
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
	}
	.slider__description {
		width: 100%;
		max-width: 222px;
		margin: 0;
		position: absolute;
		left: 50%;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		top: 145%;
		transform: translateX(-50%);
	}
	.prev-arrow, .next-arrow {
		position: absolute;
		display: flex;
		width: 53px;
		height: 53px;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		backdrop-filter: none;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		border-radius: 50%;
		border: 2.048px solid #DBBC9A;
	}
	.slider__img {
		position: initial;
	}
	.prev-arrow {
		background-image: url(../img/arrow-white.svg);
		top: 200%;
		bottom: auto;
		right: auto;
		left: 35%;
		transform: translateX(0%) rotate(180deg);
		-webkit-transform: translateX(0%) rotate(180deg);
		-moz-transform: translateX(0%) rotate(180deg);
		-ms-transform: translateX(0%) rotate(180deg);
		-o-transform: translateX(0%) rotate(180deg);
}
	.next-arrow {
		background-image: url(../img/arrow-white.svg);
		top: 200%;
		bottom: auto;
		right: auto;
		left: 51%;
	}
	.content-img {
		margin-top: 430px;
		padding-bottom: 100px;
	}
	.mask-group-wrapper {
		max-width: 100%;
		max-height: 100%;
		width: auto;
		overflow: hidden;
	}
	.mask-group,
	.mask-group:nth-child(1),
	.mask-group:nth-child(2),
	.mask-group:nth-child(3) {
		scale: 1;
		width: auto;
		max-width: 176px;
	}
	.eclipse {
		width: 81%;
	}
	.mask-group-wrapper:nth-child(2) {
		max-width: 176px;
		max-height: 836px;
		width: 100%;
		margin: 0 10px;
	}
	.title {
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
	}
	.partners__title-wrapper {
		height: 100%;
	}
	.partners__logo img {
		width: 80%;
	}
	.partners__item:nth-child(2),
	.partners__item:nth-child(3),
	.partners__item:nth-child(4) {
		display: none;
	}
	.partner__info {
		font-weight: 400;
		font-size: 14px;
		line-height: 142%;
	}
	.partners__item {
		padding: 210px 0;
	}
	.layout__item:nth-child(1),
	.layout__item:nth-child(3) {
		display: none;
	}
	.layout {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #F3F1EE;
		background-position: center top;
		background-repeat: no-repeat;
		background-image: url(../img/layout_bg.jpg);
		padding: 72px 0 151px 0;
		background-size: 600%;
		position: relative;
	}
	.layout__description {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 43px;
	}
	.layout__item.active .more__layout {
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		width: 122px;
		height: 122px;
	}
	.layout__item:nth-child(2) {
		margin: 0;
		display: flex;
		justify-content: center;
	}
	.layout__item img {
		max-width: 85%;
	}
	.infrastructure__item {
		position: relative;
		bottom: 0;
		left: 0;
		padding: 70px 18px;
		background: #F3F1EE;
		display: flex;
		flex-direction: column;
		max-width: 100%;
		z-index: 1;
	}
	.i__img img {
		scale: 1;
		position: relative;
		width: 100%;
		max-height: 590px;
	}
	.i__title.title {
		max-width: 70%;
	}
	.i__text {
		max-width: 222px;
		margin: 31px 0 0 60px;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}
	.i__btn {
		display: none;
	}
	.map__text {
		flex-direction: column;
		padding: 77px;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}
	.map .sticky__wrapper {
		display: none;
	}
	.adaptive__map {
		display: flex;
		overflow: hidden;
		justify-content: center;
	}
	.adaptive__map img {
		width: 200%;
	}
	.map.section {
		padding-top: 67px;
		margin-bottom: 0;
	}
	.map__text-item {
		max-width: 100%;
		padding-left: 20px;
		transition: all .5s ease;
		margin-bottom: 37px;
	}
	.map__text-item:last-child {
		margin-bottom: 0;
	}
	.map__footer-title {
		color: #121212;
		width: 100%;
		margin-bottom: 67px;
		position: relative;
		transition: all .5s ease;
		margin-left: 21px;
		font-weight: 400;
		font-size: 28px;
		line-height: 34px;
	}
	.footer-title-item:first-child, 
	.footer-title-item:last-child{
		margin: 0;
		padding: 0;
	}
	.gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 255px 0;
		background: url(../img/gallery__mobile__bg.png) no-repeat center center;
	}
	.gallery__items {
		display: none;
	}
	.gallery__text {
		margin-bottom: 9px;
	}
	.gallery__btn {
		overflow: visible;
		padding-top: 0;
	}
	.gallery__text-value {
		position: relative;
		font-weight: 400;
		font-size: 28px;
		line-height: 34px;
	}
	.gallery__btn-value {
		position: relative;
		font-weight: 500;
		font-size: 8.53333px;
		line-height: 100%;
		padding: 6px 10px;
	}
	.g__item-num {
		display: none;
	}
	.g__item-img img {
		object-fit: cover;
		max-width: 74%;
	}
	.gallery__item:nth-child(1) {
		top: 244px;
		left: 38px;
		z-index: -1;
	}
	.gallery__item:nth-child(1) img {
		width: 335px;
		max-width: 100%;
	}
	.gallery__item:nth-child(2) {
		top: 140px;
		right: auto;
		left: 63%;
	}
	.gallery__item:nth-child(2) img {
		width: 247px;
		max-width: 100%;
	}
	.gallery__item:nth-child(3) {
		display: none;
	}
	.gallery__item:nth-child(4) {
		top: 650px;
		right: auto;
		left: 0;
	}
	.gallery__item:nth-child(6) {
		top: 689px;
		left: auto;
		right: 0;
	}
	.gallery__item:nth-child(5) {
		top: 79px;
		left: 38px;
	}
	.steps__main {
		margin-bottom: 177px;
	}
	.steps__title-wrapper {
		overflow: hidden;
		display: flex;
		justify-content: center;
	}
	.steps__title.title {
		max-width: 80%;
		text-align: center;
		margin-bottom: 49px;
	}
	.steps__slider-main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 95px;
		position: relative;
		width: 100%;
	}
	.arrow-prev, .arrow-next {
		background: url(../img/arrow_new.svg) no-repeat center center;
		margin: 0 11px;
		transition: all .5s ease;
		position: absolute;
		display: flex;
		width: 64px;
		height: 64px;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		backdrop-filter: none;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		border-radius: 50%;
		border: 2.048px solid #DBBC9A;
		position: absolute;
		bottom: -20%;
		left: 48%;
	}
	.steps__overlay {
		height: 100%;
		overflow: hidden;
		max-width: 100%;
	}
	.steps__wrap {
		margin-top: 0;
	}
	.s__slider-img img {
		max-width: 100%;
		height: 448px;
		object-fit: cover;
	}
	.arrow-prev {
		transform: translateX(-100%);
		margin-right: 10px;
	}
	.arrow-next {
		transform: translateX(20px) rotate(180deg);
	}
	.news__all-btn {
		display: none;
	}
	.news__title-wrapper {
		height: 100%;
	}
	.news__title {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.n__item-link {
		display: none;
	}
	.left__spiral, .right__spiral {
		display: none;
	}
	.call {
		padding: 201px 0;
	}
	.call__title-wrapper {
		height: 100%;
		position: relative;
		overflow: hidden;
		margin-bottom: 62px;
	}
	.call__input {
		padding: 26px 43px;
		margin-bottom: 22px;
		color: #fff;
		transition: all .5s ease;
		background: #121212;
		border: 2.048px solid #DBBC9A;
		border-radius: 100.352px;
		font-size: 20px;
		line-height: 92%;
	}
	.call__input:focus {
		border: 2.048px solid #fff;
	}
	input::-webkit-input-placeholder {
		font-family: 'Manrope', sans-serif;
		font-style: normal;
		font-size: 20px;
		line-height: 92%;
		color: #F5F5F5;
	}
	input::-moz-placeholder {
		font-family: 'Manrope', sans-serif;
		font-style: normal;
		font-size: 20px;
		line-height: 92%;
		color: #F5F5F5;
	}
	input:-moz-placeholder {
		font-family: 'Manrope', sans-serif;
		font-style: normal;
		font-size: 20px;
		line-height: 92%;
		color: #F5F5F5;
	}
	input:-ms-input-placeholder {
		font-family: 'Manrope', sans-serif;
		font-style: normal;
		font-size: 20px;
		line-height: 92%;
		color: #F5F5F5;
	}
	.custom-checkbox+label {
		display: inline-flex;
		align-items: flex-start;
		user-select: none;
		font-weight: 400;
		cursor: pointer;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.04em;
		max-width: 80%;
	}
	.custom-checkbox+label::before {
		content: '';
		display: inline-block;
		width: 18px;
		height: 18px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 2px solid #fff;
	}
	.politics {
		display: flex;
		margin-left: 5px;
		justify-content: center;
		margin-bottom: 63px;
	}
	.submit__btn {
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: 0.04em;
		color: #000000;
		border: none;
		margin: 0 auto;
		padding: 15px 40px;
		max-width: 211px;
		font-weight: 700;
		font-size: 20px;
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.04em;
	}
	.footer {
		padding: 62px 39px;
	}
	.mobile__footer__img {
		display: block;
	}
	.footer__img {
		display: none;
	}
	.footer__info {
		flex-direction: column-reverse;
	}
	a.footer__phone.title {
		font-weight: 400;
		font-size: 48px;
		line-height: 58px;
		margin-bottom: 40px;
	}
	.f__address-item {
		margin-bottom: 40px;
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
	}
	.footer__links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #313131;
		padding-top: 17px;
		margin-bottom: 83px;
		margin-top: 118px;
	}
	.footer__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.footer__links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #313131;
		padding-top: 34px;
		margin-bottom: 83px;
		margin-top: 118px;
		flex-direction: column;
	}
	.f__links-item, .f__links-item a {
		text-align: left;
		color: #121212;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 18px;
		line-height: 25px;
	    margin-bottom: 10px;
	}
	.f__links-item:last-child {
		margin-top: 60px;
	}
	/* MENU */
	.menu__container .icon-line {
		background: #fff;
		margin: 0;
	}
	.menu__container .burger-icon {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 64px;
		background: rgb(0 0 0);
		border: none;
		border-radius: 50%;
		height: 64px;
		align-items: center;
	}
	a.mobile__phone__menu {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 64px;
		background: rgb(0 0 0);
		border: none;
		border-radius: 50%;
		height: 64px;
		align-items: center;
	}
	.menu__container .menu-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 46px 38px;
	}
	.menu__list {
		margin-top: 0;
	}
	a.menu-link.title {
		font-weight: 400;
		font-size: 28px;
		line-height: 126%;
		margin-bottom: 30px;
	}
	.menu-footer {
		display: flex;
		margin: 0 38px;
		position: relative;
		justify-content: center;
		align-content: flex-end;
		margin-top: 0;
	}
	.copyright {
		text-align: center;
		text-transform: uppercase;
		color: #121212;
		bottom: 0;
		left: 0;
		position: absolute;
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
	}
	/* PAGE ABOUT */
	.header__info-title {
		top: 286px;
	}
	.header__info {
		padding-top: 390px;
		position: relative;
	}
	.header__info-img img {
		scale: 1;
		position: relative;
		width: 100%;
		height: 820px;
		object-fit: cover;
	}
	.premain__title {
		max-width: 322px;
		position: absolute;
		left: 38px;
		top: -50px;
	}
	.p__t-top {
		position: absolute;
		top: 231px;
		left: auto;
		right: 38px;
		max-width: 360px;
		text-transform: none;
	}
	.premain__slider {
		display: flex;
		padding-top: 501px;
		padding-left: 38px;
		justify-content: space-between;
		flex-direction: column-reverse;
	}
	.premain__slider-item img {
		width: 100%;
	}
	.p__slider-text {
		position: relative;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
	}
	.p__slider-title {
		margin-top: 53px;
	}
	.premain__slider {
		display: flex;
		padding-top: 501px;
		padding-left: 38px;
		justify-content: space-between;
		flex-direction: column-reverse;
		align-items: center;
	}
	.premain__slider-info {
		max-width: 454px;
		margin-top: 120px;
	}
	.floor-plan {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-top: 145px;
		margin-bottom: 253px;
		max-height: 707px;
		overflow: hidden;
	}
	.floor-plan img {
		scale: 1;
		position: relative;
		width: auto;
		object-fit: cover;
		max-height: 707px;
	}
	.fp__text-item {
		display: none;
	}
	.fp__text-item:first-child {
		display: block;
	}
	.floor-plan__text {
		justify-content: center;
		padding: 0;
		font-weight: 400;
		font-size: 40px;
		line-height: 125%;
		text-align: center;
		color: #FFFFFF;
	}
	.fp__text-item {
		opacity: 1;
		transition: all .5s ease;
		cursor: pointer;
		font-weight: 400;
		font-size: 49.152px;
		line-height: 125%;
	}
	.a-s__count {
		display: none;
	}
	.about-slider {
		position: relative;
		margin-bottom: 188px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.about-slider__text {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		max-width: 540px;
		background: #DBBC9A;
		padding: 46px 36px;
		color: #000;
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		margin: 0 115px;
		width: 100%;
		border-radius: 0px 129px 0px 0px;
	}
	.about-slider img {
		border-radius: 0;
		width: 540px;
		max-height: 305px;
		object-fit: cover;
	}
	.a-s__text-title.title {
		font-weight: 400;
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 36px;
	}
	.a-s__text-text {
		color: #000000;
		max-width: 333px;
		font-weight: 400;
		font-size: 18px;
		line-height: 125%;
	}
	.a-s__text-block {
		margin-bottom: 140px;
	}
	.arrow-prev-black, .arrow-next-black {
		border: 2px solid #000;
	}
	/* INFRASTRUCUTRE */
	.premain__infoblock {
		display: flex;
		justify-content: space-between;
		padding: 24px 38px;
		flex-direction: column;
	}
	.i__top-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		color: #FFFFFF;
		max-width: 421px;
		text-transform: none;
		margin: 80px auto;
	}
	.line-text ul li {
		padding-left: 28px;
		font-weight: 400;
		font-size: 40px;
		line-height: 64px;
	}
	.line-text ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 66px 0 146px 0;
		width: 275%;
	}
	.premain__banner {
		margin: 0;
		flex-direction: column;
		align-items: center;
	}
	.p__banner-title {
		margin-bottom: 30px;
	}
	.premain__banner-info {
		height: 100%;
		max-width: 636px;
		padding: 47px 77px;
		margin: 0 65px;
	}
	.premain__banner-img img {
		position: relative;
		left: 0;
		top: 0;
		border-radius: 0px 0px 0px 409.6px;
		margin: 0 38px;
		max-height: 640px;
	}
	.premain.infrastructure-cat {
		margin-bottom: 144px;
	}
	.territory__title {
		margin-bottom: 71px;
	}
	.territory__item, 
	.territory__item:nth-child(2n) {
		flex-direction: column-reverse;
	}
	.territory__item-img img {
		width: 85%;
		object-fit: cover;
		max-height: 450px;
	}
	.territory__item:nth-child(2n) .territory__item-img {
		display: flex;
		justify-content: flex-end;
	}
	.territory__item {
		margin-bottom: 0;
	}
	.territory__item-info {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 49px 0 149px 0;
	}
	.t__item-num.title {
		font-weight: 400;
		font-size: 112px;
		line-height: 125%;
	}
	.t__item-text {
		text-transform: none;
		color: #FFFFFF;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
	}
	.t__item-text {
		max-width: 293px;
	}
	.static__map {
		display: flex;
	}
	.map.dark.section {
		margin-bottom: 200px;
	}
	.static__map img {
		height: 800px;
	}
	/* CONTACTS */
	.contacts__footer {
		flex-direction: column;
	}
	.contacts__footer-i {
		margin-bottom: 45px;
	}
	.c__footer-t.color-text {
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
	}
	a.c__footer-t.contacts_map {
		text-transform: uppercase;
		color: #C4A27A;
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
	}
	a.c__footer-t.contacts_map:hover:after {
		width: 230px;
	}
	.contacts__info {
		margin-bottom: 140px;
	}
	/* NEWS */
	.n__item-link {
		display: flex;
	}
	.ns-title-item.title {
		font-weight: 400;
		font-size: 49px;
		line-height: 59px;
	}
	.ns-title-item.gogol-text {
		font-weight: 400;
		font-size: 52px;
		line-height: 100%;
		top: -25px;
	}
	.ns-nav {
		margin-top: 30px;
		display: flex;
		margin-bottom: 80px;
	}
	.ns-nav-item {
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;
	}
	.news__seller {
		padding: 286px 137px 136px 137px;
	}
	.new__item:before {
		z-index: -1;
		position: absolute;
		left: 0;
		top: 0;
		content: url(../img/news__item.svg);
		opacity: 1;
		transition: all .5s ease;
	}
	.new__item {
		border: 1px solid #DBBC9A;
	}
	.news__more-btn {
		font-weight: 500;
		font-size: 20px;
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.04em;
	}
	.news__popup-container {
		justify-content: center;
		align-items: center;
		position: fixed;
		z-index: 999999;
		width: 100vw;
		height: 100vh;
	}
	.news__popup-overlay {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background: rgba(18, 18, 18, 0.92);
		z-index: -1;
	}
	.news__popup {
		display: flex;
		flex-direction: column;
		max-width: 960px;
		background: #121212;
		border: 1px solid #DBBC9A;
		position: relative;
		z-index: 9999999999;
		width: 100vw;
		height: 100vh;
		justify-content: space-between;
	}
	.news__popup-text {
		padding: 65px;
		display: flex;
		flex-direction: column;
	}
	.np-text-content {
		max-height: 300px;
		overflow-x: hidden;
		margin-top: 20px;
	}
	.ns-item-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	/* DOCS */
	.docs {
		padding: 286px 38px 132px 38px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.docs__container {
		margin-top: 102px;
	}
	.docs__item {
		padding: 26px 0;
		position: relative;
	}
	.docs__item-title {
		background: none;
		padding: 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 125%;
		position: relative;
    	top: -13px;
	}
	.docs__item-date {
		font-weight: 400;
		font-size: 20px;
		line-height: 125%;
		position: absolute;
		top: 42px;
	}
	.docs__item-download {
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
		text-transform: uppercase;
	}
	/* CATEGORY */ 
	.cat__container {
		display: flex;
		flex-direction: column;
		padding: 286px 40px 186px 40px;
	}
	.category__mobile {
		display: flex;
		font-weight: 500;
		font-size: 20px;
		line-height: 125%;
		padding: 21px;
		background: #DBBC9A;
		border-radius: 544.768px;
		justify-content: center;
		align-items: center;
		color: #000;
		text-transform: uppercase;
		cursor: pointer;
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
}
	.category__mobile:focus, .category__mobile:hover {
		background: #fff;
	}
	.cat__header {
		display: none;
	}
	.cat__list-element {
		font-weight: 400;
		font-size: 20px;
		line-height: 19px;
	}
	.cat__list {
		padding: 0;
    	margin-top: 60px;
	}
	.cat__list::-webkit-scrollbar {
		width: 0px;
	}
	.cat__list-item {
		flex-wrap: wrap;
	}
	.cat__list-item:first-child {
		border-top: 1px solid #363636;
	}
	.cat__list-element {
		max-width: 28%;
	}
	.cat__list-element:nth-child(1),
	.cat__list-element:nth-child(2),
	.cat__list-element:nth-child(3) {
		margin-bottom: 28px;
	}
	a.cat__list-element.price {
		font-weight: 400;
		font-size: 18px;
		line-height: 125%;
		text-align: center;
		color: #000000;
		padding: 8px 18px;
		background: #DBBC9A;
		border-radius: 500px;
	}
	.cat__nav {
		z-index: 999999;
		position: fixed;
		max-width: 100%;
		width: 100vw;
		height: 100vh;
		display: none;
		transform: translateX(-100%);
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
}
	.cat__nav-container {
		padding: 54px 38px;
		height: 100vh;
		max-width: 100%;
		width: 100vw;
		background: #DBBC9A;
		display: flex;
		flex-direction: column;
		color: #000;
		position: relative;
	}
	.cat__close {
		display: block;
		width: 64px;
		position: absolute;
		top: 56px;
		right: 38px;
		cursor: pointer;
	}
	.back__btn {
		display: none;
	}
	.cat__nav-list-title {
		color: rgba(0, 0, 0, 0.42);
		margin-bottom: 12px;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
	}
	.cat__nav-section-btn {
		width: 49px;
		height: 49px;
		margin-right: 17px;
		font-weight: 400;
		font-size: 24px;
		line-height: 33px;
		border: 2px solid #000000;
	}
	.cat__nav-section {
		margin-bottom: 43px;
	}
	.range-value-left, .range-value-right {
		color: #000000;
		width: 60px;
		font-weight: 400;
		font-size: 24px;
		line-height: 33px;
	}
	.ui-widget.ui-widget-content {
		border: none;
		height: 2px;
		background: #6d6d6d;
		max-width: 100%;
		top: 0;
		width: 100%;
	}
	.cat__nav-btn {
		margin-right: 23px;
		font-size: 20px;
		line-height: 27px;
		padding: 14px 28px;
	}
	.cat__nav-section.cat__nav-btns {
		justify-content: center;
	}
	.ui-slider .ui-slider-handle {
		width: 23px;
		height: 23px;
		border-radius: 0px;
		outline: 0;
		cursor: pointer;
		top: -10px;
	}
 }
