/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) and (max-width : 1799px) {
	/* DEFAULT */
	.btn {
		padding: 9px 14.5px;
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
	}
	.title {
		font-size: 48px;
		line-height: 58px;
	}
	/* HEADER */
	header.header {
		padding: 22px 120px;
	}
	.header .btn, .menu__container .btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
	}
	.icon-line {
		width: 23px;
		margin-bottom: 3px;
	}
	.burger-text {
		transition: all .5s ease;
		margin-left: 16px;
		font-weight: 500;
		font-size: 13.5px;
		line-height: 18px;
	}
	.logo {
		width: 168px;
		background-size: 100%;
		height: 93px;
	}
	.phone-btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
	}
	/* MENU */
	.menu__container .menu-header {
		padding: 25px 120px;
	}
	.menu__container .logo {
		background-size: 100%;
	}
	.burger-btn.menu-burger .burger-text {
		font-size: 14px;
	}
	.menu-link {
		font-weight: 400;
    	font-size: 48px;
    	line-height: 158%;
	}
	.footer__menu-link {
		font-weight: 400;
		font-size: 13px;
		line-height: 158%;
	}
	.copyright {
		font-weight: 500;
		font-size: 10px;
		line-height: 14px;
	}
	/* POST-HEADER */
	.firsts-text-header {
		max-width: 543px;
	}
	.club-text-header {
		max-width: 371.5px;
	}
	.down-arrow {
		padding: 59px;
	}
	.description__title {
		font-size: 15px;
	}
	.description__text {
		text-align: center;
		font-size: 27px;
		line-height: 125%;
	}
	.ds_bg {
		width: 100%;
	}
	/* SLIDER */
	.slider__description {
		margin-left: 60px;
	}
	.img__list {
		max-width: 864px;
	}
	.subtitle {
		line-height: 18px;
		font-size: 11px;
	}
	.gentitle {
		font-size: 62px;
		line-height: 75px;
	}
	.prev-arrow, .next-arrow {
		width: 96px;
		height: 96px;
	}
	.slider__description {
		font-size: 13px;
		line-height: 18px;
	}
	/* IMGS with eclipse */
	.mask-group {
		max-width: 390px;
	}
	.eclipse {
		max-width: 800px;
	}
	/* PARTNERS */
	.partners__logo img {
		max-width: 141px;
	}
	.partner__info {
		font-size: 11px;
    	line-height: 142%;
	}
	.partners__list {
		margin-top: 33px;
	}
	/* HOME SLIDER */
	.layout__item img {
		max-width: 288px;
	}
	.layout__item.active img {
		max-width: 390px;
	}
	.layout__item.active .more__layout {
		width: 120px;
		height: 120px;
		font-size: 11px;
		line-height: 15px;
	}
	.content-img {
		padding-bottom: 145px;
	}
	/* INFRASTRUCTURE */
	.infrastructure__item {
		padding: 77px 98px;
		max-width: 603px;
	}
	.i__title.title {
		font-size: 41px;
    	line-height: 49px;
	}
	.i__text {
		font-size: 13px;
		line-height: 18px;
	}
	.i__btn {
		font-size: 12px;
		line-height: 100%;
		max-width: 100px;
	}
	/* MAP */
	.adaptive__map {
		display: block;
	}
	.map.section {
		margin-bottom: 30px;
	}
	/* GALLERY */
	.gallery__text {
		font-size: 96px;
		line-height: 115px;
	}
	.g__item-img img {
		max-width: 75%;
	}
	.g__item-img {
		display: flex;
		justify-content: flex-end;
	}
	.gallery__item:nth-child(1) {
		left: 200px;
	}
	.gallery__item:nth-child(2) {
		right: 80px;
	}
	.gallery__item:nth-child(3) {
		right: 30px;
	}
	.gallery__item:nth-child(4) {
		right: 240px;
		top: 765px;
	}
	.gallery__item:nth-child(5) {
		left: -45px;
	}
	.gallery__item:nth-child(6) {
		top: 825px;
		left: 200px;
	}
	/* SLIDER FULL */
	.steps__overlay {
		max-width: 997px;
	}
	.arrow-prev, .arrow-next {
		margin: 0 20px;
		width: 50px;
		height: 50px;
	}
	.steps__slider-main {
		padding: 0;
	}
	/* NEWS */
	.news {
		padding: 0 120px 300px 120px;
	}
	.news__arrow .arrow-prev,
	.news__arrow .arrow-next {
		margin: 0 5px;
	}
	.n__item-text {
		font-size: 18px;
    	line-height: 25px;
	}
	.n__item-date {
		font-size: 13px;
		line-height: 18px;
	}
	.new__item:before {
		left: -65px;
    	top: -100px;
	}
	.new__item {
		width: 390px;
		height: 400px;
	}
	/* FORM */
	.call__form {
		max-width: 282px;
	}
	.call__input {
		padding: 13px 25px;
		font-size: 13px;
		line-height: 92%;
	}
	.call__input::-webkit-input-placeholder {
		font-size: 13px;
		line-height: 92%;
	}
	.call__input:-moz-placeholder {
		font-size: 13px;
		line-height: 92%;
	}
	.call__input::-moz-placeholder {
		font-size: 13px;
		line-height: 92%;
	}
	.call__input:-ms-input-placeholder {
		font-size: 13px;
		line-height: 92%;
	}
	.call__title {
		font-size: 72px;
		line-height: 102%;
	}
	.call__title-wrapper {
		margin-bottom: 50px;
	}
	.custom-checkbox+label {
		font-weight: 400;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.04em;
	}
	.politics {
		margin-bottom: 60px;
	}
	.submit__btn.btn {
		padding: 15px 41.5px;
		font-weight: 700;
		font-size: 12px;
		line-height: 100%;
	}
	/* FOOTER */
	.footer__logo img {
		width: 100%;
	}
	.footer__info {
		font-size: 13px;
		line-height: 18px;
	}
	.footer__phone {
		font-size: 72px;
		line-height: 87px;
	}
	.footer__links {
		padding-top: 12px;
	}
	.f__links-item, .f__links-item a {
		font-size: 10px;
    	line-height: 14px;
	}

	/* ABOUT page */
	.header__info {
		padding-top: 365px;
		position: relative;
	}
	.header__info-title {
		font-weight: 400;
		font-size: 96px;
		line-height: 125%;
	}
	.premain__title.title {
		max-width: 580px;
		left: 230px;
		font-weight: 400;
		font-size: 84px;
		line-height: 125%;
	}
	.p__t-top {
		left: 800px;
		max-width: 290px;
		font-weight: 400;
		font-size: 15px;
		line-height: 125%
	}
	.premain__slider-item img {
		max-width: 795px;
		max-height: 650px;
	}
	.premain__slider {
		display: flex;
		padding-top: 580px;
		padding-left: 120px;
		justify-content: space-between;
		overflow: hidden;
	}
	.premain__slider-img {
		margin-left: 30px;
	}
	.p__slider-text {
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		max-width: 288px;
	}
	.fp__text-item {
		font-weight: 400;
		font-size: 30px;
		line-height: 125%;
	}
	.floor-plan {
		max-height: 710px;
	}
	.about-slider img {
		border-radius: 0 0 52% 0;
		width: 100%;
		max-width: 75%;
	}
	.a-s__text-title {
		font-size: 18px;
		line-height: 125%;
	}
	.a-s__text-text {
		font-size: 13px;
		line-height: 125%;
	}
	.arrow-prev-black, .arrow-next-black {
		width: 46px;
		height: 46px;
	}
	.a-s__count {
		font-size: 13px;
		line-height: 125%;
	}
	.about-slider__text {
		max-width: 491px;
		width: 100%;
		height: 518px;
		right: 120px;
	}
	.partners {
		height: 100%;
	}
	/* DOCS PAGE */
	.docs__title {
		font-weight: 400;
		font-size: 96px;
		line-height: 125%;
	}
	.docs {
		padding: 329px 15% 180px 15%;
	}
	.docs__item-title, .docs__item-date, .docs__item-download {
		font-weight: 400;
		font-size: 13px;
		line-height: 125%;
		text-transform: uppercase;
	}
	.docs__item-title {
		padding-left: 45px;
	}
	/* NEWS PAGE */
	.news__seller {
		padding: 329px 160px 190px 160px;
	}
	.ns-title-item.title {
		font-weight: 400;
		font-size: 96px;
		line-height: 125%;
	}
	.ns-title-item.gogol-text {
		font-weight: 400;
		font-size: 72px;
		line-height: 125%;
	}
	.n__item-link {
		margin: 0 7px 20px 7px;
		width: 31%;
	}
	.new__item {
		width: 100%;
		height: 400px;
	}
	.ns-nav-item {
		font-weight: 500;
		font-size: 13px;
		line-height: 100%;
	}
	.ns-nav {
		margin-top: 0px;
		margin-bottom: 85px;
	}
	/* NEWS POPUP */
	.news__popup {
		max-width: 795px;
	}
	.news__popup-text {
		padding: 45px 100px 45px 100px;
	}
	.np-text-date {
		font-size: 13px;
   		line-height: 18px;
	}
	.np-text-title {
		font-size: 27px;
    	line-height: 37px;
	}
	.np-text-content {
		font-size: 14px;
    	line-height: 19px;
	}
	.news__popup-btn {
		font-size: 13px;
   		line-height: 100%;
	}
	.news__more-btn {
		font-weight: 500;
		font-size: 13px;
		line-height: 100%;
		text-transform: uppercase;
		margin-top: 92px;
	}
	/* CONTACTS PAGE */
	.contacts__info {
		margin-bottom: 213px;
	}
	.contacts__title {
		font-size: 96px;
    	line-height: 125%;
	}
	.contacts__title {
		font-size: 96px;
    	line-height: 125%;
	}
	.contacts__phone {
		font-size: 36px;
    	line-height: 43px;
	}
	.c__footer-t.color-text {
		font-size: 13px;
    	line-height: 18px;
	}
	a.c__footer-t {
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
	}
	.c__footer-t {
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
	}
	a.c__footer-t.contacts_map {
		font-weight: 500;
		font-size: 15px;
		line-height: 20px;
	}
	a.c__footer-t.contacts_map:hover:after {
		width: 175px;
	}
	a.c__footer-t:hover:after {
		width: 95px;
	}
	/* HOME VAR */
	.cat__container {
		padding-top: 190px;
	}
	.cat__header {
		padding-bottom: 12px;
	}
	.cat__nav {
		max-width: 100vw;
		width: 37%;
	}
	.cat__nav-container {
		padding: 45px 120px;
		max-width: 100%;
		width: 100%;
	}
	.back__btn span {
		font-weight: 500;
		font-size: 10.5px;
		line-height: 14px;
	}
	.cat__nav-list {
		margin-top: 135px;
	}
	.cat__nav-list-title {
		font-size: 13.5px;
		line-height: 18px;
	}
	.cat__nav-section-btn {
		margin-right: 12px;
		width: 30px;
		height: 30px;
		font-size: 13.5px;
		line-height: 18px;
	}
	.range-value-left, .range-value-right {
		font-size: 13.5px;
		line-height: 18px;
	}
	.cat__nav-btn {
		font-size: 12px;
    	line-height: 16px;
		padding: 7.5px 24px;
	}
	.cat__header-item {
		font-size: 11.25px;
		line-height: 11px;
	}
	.cat__list-element {
		font-size: 12px;
    	line-height: 11px;
	}
	.cat__wrapper {
		max-width: 52%;
		max-height: 73vh;
	}
	.cat__list-item {
		padding: 18px 0;
	}
	/* INFRASTRUCTURE PAGE */
	.i__top-text {
		font-size: 15px;
    	line-height: 20px;
	}
	.line-text ul {
		margin: 225px 0;
		width: 350%;
	}
	.line-text ul li {
		font-size: 72px;
		line-height: 87px;
	}
	.p__banner-title {
		font-size: 44px;
    	line-height: 125%;
	}
	.p__banner-text {
		font-size: 15px;
		line-height: 125%;
	}
	.premain__banner-info {
		height: 655px;
		max-width: 739px;
		padding: 93px 100px;
	}
	.premain__banner-img img {
		position: absolute;
		left: 50%;
		top: 102px;
		border-radius: 0 0 0 50%;
		max-width: 59.5%;
	}
	.premain__banner {
		margin-bottom: 265px;
	}
	.territory__title {
		margin-bottom: 76px;
	}
	.territory__item-img img {
		width: 100%;
	}
	.t__item-num {
		font-size: 165px;
    	line-height: 125%;
	}
	.t__item-text {
		font-size: 18px;
		line-height: 25px;
	}
	.territory__item {
		margin-bottom: 39px;
	}
	/* dark map */
	.static__map {
		display: flex;
		margin-bottom: 225px;
	}
	.partners__item {
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #303030;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 185px 0;
	}
}

@media only screen and (min-width : 1024px) and (max-width : 1279px) {
	/* DEFAULT */
	img {
		scale: 1;
	}
	header.header {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 11px 60px;
		align-items: center;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 100%;
		z-index: 999;
		font-size: 18px;
		opacity: 1;
		transition: all .5s ease;
	}
	.burger-text {
		transition: all .5s ease;
		margin-left: 16px;
		font-size: 12px;
		line-height: 16px;
	}
	.header .btn {
		font-size: 12px;
		line-height: 100%;
	}
	.btn {
		padding: 6px 10px;
		gap: 10px;
	}
	.logo {
		width: 152px;
		height: 84px;
		background: url(../img/Logo.svg) no-repeat center center;
		display: block;
		background-size: 100%;
	}
	.phone-btn {
		color: #fff;
		position: relative;
		cursor: pointer;
		text-decoration: none;
		font-size: 12px;
		line-height: 16px;
	}
	.firsts-text-header {
		left: 8.33%;
		bottom: 8.5%;
		max-width: 386px;
	}
	.club-text-header {
		left: 30%;
		bottom: 11.8%;
		max-width: 265px;
	}
	.down-arrow {
		position: absolute;
		display: flex;
		padding: 42px;
		background-color: rgba(6, 6, 6, 0.5);
		background-image: url(../img/down-arrow.svg);
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 50%;
		border: 1px solid #DBBC9A;
		bottom: 8.5%;
		right: 50px;
		z-index: 1;
	}
	.header__info .down-arrow {
		position: absolute;
		display: flex;
		padding: 42px;
		background-color: rgba(6, 6, 6, 0.5);
		background-image: url(../img/down-arrow.svg);
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 50%;
		border: 1px solid #DBBC9A;
		bottom: 44%;
		right: 75px;
		z-index: 1;
	}
	.post-header-mini {
		top: 238px;
		left: 30%;
		transform: translateX(-50%);
		max-height: 111px;
		max-width: 165px;
	}
	.description__title {
		font-size: 13px;
    	line-height: 124%;
	}
	.description__text {
		font-size: 20px;
		line-height: 125%;
	}
	.description {
		padding: 186px 0;
	}
	.ds_bg {
		position: absolute;
		top: 8%;
		left: 0;
		z-index: -1;
		width: 100%;
	}
	.sticky__wrapper {
		position: relative;
		height: 100%;
		max-height: 100%;
	}
	.sticky__element {
		width: 100%;
		height: 100%;
	}
	.sticky__content {
		width: 85vw;
		height: 56vw;
	}
	.main__slider-img {
		z-index: -1;
		position: relative;
		scale: 1;
		width: 614px;
	}
	.img__list {
		position: relative;
		max-width: 614px;
		max-height: 455px;
		overflow: hidden;
	}
	.main__slider-img {
		z-index: -1;
		position: relative;
		scale: 1;
		width: 614px;
	}
	.slider__lines img {
		max-height: 276px;
	}
	.prev-arrow {
		background-size: 25%;
	}
	.next-arrow {
		background-size: 25%;
	}
	.prev-arrow, .next-arrow {
		width: 68px;
		height: 68px;
	}
	.subtitle.title {
		font-size: 8px;
		line-height: 10px;
	}
	.gentitle.title {
		font-size: 44px;
		line-height: 53px;
	}
	.slider__description {
		margin: 0 0 30px 60px;
		font-size: 11px;
		line-height: 15px;
	}
	.mask-group {
		scale: 1;
		object-fit: cover;
		width: 100%;
	}
	.mask-group-wrapper {
		max-width: 295px;
		max-height: 385px;
		overflow: hidden;
	}
	.mask-group-wrapper:nth-child(2) {
		max-width: 295px;
		max-height: 474px;
		margin: 0 12px;
	}
	.eclipse {
		position: absolute;
		z-index: 999;
		max-width: 600px;
	}
	.content-img {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-top: 300px;
		padding-bottom: 221px;
		position: relative;
		z-index: 9;
		background: #121212;
	}
	.title {
		font-family: 'Anticva', sans-serif;
		font-size: 40px;
		line-height: 48px;
	}
	.partners__item:last-child {
		display: none;
	}
	.partners {
		height: 100%;
	}
	.partners__item {
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #303030;
		position: relative;
		width: 100%;
		height: 100%;
		padding: 153px 0;
	}
	.partner__info {
		font-size: 11px;
		line-height: 142%;
	}
	.partners__list {
		margin-top: 0;
	}
	.layout__description {
		font-size: 11px;
		line-height: 15px;
		margin: 3px 0 31px 0;
	}
	.layout__item img {
		max-width: 204px;
	}
	.layout__item:nth-child(2) img {
		max-width: 277px;
	}
	.layout__item.active .more__layout {
		width: 92px;
		height: 92px;
		font-size: 9px;
		line-height: 12px;
	}
	.layout__item:nth-child(2) {
		margin: 0 10px;
	}
	.layout {
		padding: 117px 0 162px 0;
	}
	.i__btn {
		max-width: 72px;
		font-size: 9px;
		line-height: 15px;
		font-weight: 500;
		font-size: 8.53333px;
		line-height: 100%;
	}
	.i__text {
		font-weight: 400;
		font-size: 17px;
		line-height: 23px;
		color: #000000;
		margin: 21px 0 35px 0;
		max-width: 231px;
		font-size: 11px;
		line-height: 15px;
	}
	.i__title.title {
		font-size: 30px;
		line-height: 36px;
	}
	.infrastructure__item {
		position: absolute;
		bottom: -10%;
		left: 20px;
		padding: 55px;
		background: #F3F1EE;
		display: flex;
		flex-direction: column;
		max-width: 400px;
		z-index: 1;
	}
	.map__footer-title.title {
		font-weight: 400;
		font-size: 47px;
		line-height: 56px;
	}
	.footer-title-item:first-child {
		margin-left: 60px;
	}
	.footer-title-item:last-child {
		margin-left: 205px;
	}
	.adaptive__map {
		display: flex;
	}
	.adaptive__map img {
		max-width: 670px;
	}
	.map__text {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: flex-end;
		padding: 50px 60px 5px 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		position: relative;
		transition: all .5s ease;
	}
	.map__text-item {
		max-width: 211px;
		padding-left: 20px;
		font-weight: 400;
		font-size: 11px;
		line-height: 15px;
		transition: all .5s ease;
	}
	.map.section {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.gallery {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 270px 0;
		background: url(../img/g_bg.svg) no-repeat center 558px;
	}
	.gallery-svg-bg img {
	    position: absolute;
		left: 0;
		top: 47px;
		z-index: -1;
	}
	.gallery__text {
		margin-bottom: 0;
	}
	.gallery__text-value {
		position: relative;
		font-size: 64px;
		line-height: 77px;
	}
	.gallery__btn-value {
		position: relative;
		font-weight: 500;
		font-size: 8.53333px;
		line-height: 100%;
	}
	.s__slider-img img {
		max-width: 700px;
	}
	.steps__overlay {
		height: 100%;
		overflow: hidden;
		max-width: 700px;
	}
	.arrow-prev, .arrow-next {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border: 1px solid #C4A27A;
		background: url(../img/arrow_new.svg) no-repeat center center;
		cursor: pointer;
		margin: 0px 50px;
		transition: all .5s ease;
	}
	.s__slider-text {
		font-size: 11px;
		line-height: 15px;
	}
	.steps__main {
		margin-bottom: 186px;
	}
	.news__arrow .arrow-prev, .news__arrow .arrow-next {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border: 1px solid #C4A27A;
		background: url(../img/arrow_new.svg) no-repeat center center;
		cursor: pointer;
		margin: 0px 6px;
		transition: all .5s ease;
	}
	.news {
		display: flex;
		flex-direction: column;
		padding: 0 60px 186px 60px;
		min-width: 0;
		overflow: hidden;
	}
	.news__title-wrapper {
		height: 100%;
	}
	.news__nav-wrapper {
		height: 75px;
		margin: 0 0 28px 0;
		display: flex;
	}
	.news__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		width: 100%;
	}
	.news__all-btn {
		border: 1px solid transparent;
		font-weight: 500;
		font-size: 8.53333px;
		line-height: 100%;
	}
	.n__item-link {
		max-width: 295px;
		margin-right: 12px;
	}
	.new__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 29px 46px 29px 21px;
		max-width: 295px;
		width: 100%;
		height: 300px;
		border: 1px solid rgba(255, 255, 255, 0.21);
		background: none;
		position: relative;
		transition: all .5s ease;
		overflow: hidden;
	}
	.n__item-text {
		font-weight: 400;
		font-size: 13px;
		line-height: 18px;
	}
	.n__item-date {
		font-weight: 400;
		font-size: 11px;
		line-height: 15px;
	}
	.new__item:before {
		content: url(../img/tablet__news.svg);
	}
	.gallery-svg-bg {
		display: flex;
	}
	.gallery__items {
		/* display: none; */
	}
	.gallery__item {
		transform: translateX(-50%)	;
		-webkit-transform: translateX(-50%)	;
		-moz-transform: translateX(-50%)	;
		-ms-transform: translateX(-50%)	;
		-o-transform: translateX(-50%)	;
	}
	.g__item-img {
		max-width: 50%;
		overflow: hidden;
	}
	.g__item-img img {
		width: 100%;
	}
	.gallery__item:nth-child(5) {
		top: 44px;
		left: 20px;
	}
	.gallery__item:nth-child(1) {
		top: 129px;
		left: 195px;
		z-index: -1;
	}
	.gallery__item:nth-child(6) {
		top: 456px;
		left: 166px;
	}
	.gallery__item:nth-child(2) {
		top: 82px;
		left: 70%;
		right: 0;
	}
	.gallery__item:nth-child(4) {
		top: 432px;
		right: 0;
		left: 588px;
	}
	.gallery__item:nth-child(3) {
		top: 374px;
		right: 0;
		left: 900px;
	}	
	.call__title {
		font-weight: 400;
		font-size: 51px;
		line-height: 102%;
	}
	.call__form {
		display: flex;
		flex-direction: column;
		max-width: 376px;
		width: 100%;
		position: relative;
		justify-content: center;
		align-items: center;
		z-index: 99999;
	}
	.call__input {
		background: #121212;
		border: 1px solid #DBBC9A;
		border-radius: 49px;
		padding: 12px 14px;
		margin-bottom: 12px;
		color: #fff;
		transition: all .5s ease;
		max-width: 200px;
		font-weight: 400;
		font-size: 9.24444px;
		line-height: 92%;
		width: 100%;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
}
	.politics {
		display: flex;
		margin-left: 0;
		margin-bottom: 42px;
	}
	.custom-checkbox+label {
		font-size: 7.82222px;
		line-height: 9px;
		letter-spacing: 0.04em;
	}
	.custom-checkbox+label::before {
		content: '';
		display: inline-block;
		width: 10px;
		height: 10px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid #fff;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
		margin-right: 9px;
		margin-top: 5px;
	}
	input.submit__btn.btn {
		padding: 10px 28px;
		font-weight: 700;
		font-size: 8.53333px;
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.04em;
	}
	.call__input::-webkit-input-placeholder {
		font-weight: 400;
		font-size: 9.24444px;
		line-height: 92%;
	}
	.call__input:-moz-placeholder {
		font-weight: 400;
		font-size: 9.24444px;
		line-height: 92%;
	}
	.call__input::-moz-placeholder {
		font-weight: 400;
		font-size: 9.24444px;
		line-height: 92%;
	}
	.call__input:-ms-input-placeholder {
		font-weight: 400;
		font-size: 9.24444px;
		line-height: 92%;
	}
	.call__title-wrapper {
		margin-bottom: 0;
	}
	.left__spiral img, .right__spiral img {
		position: relative;
		transform-origin: 50% 50%;
		max-width: 455px;
	}
	.left__spiral {
		left: -230px;
		bottom: -230px;
	}
	.right__spiral {
		right: -230px;
		bottom: -230px;
	}
	.call {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 108px 0;
		position: relative;
		max-height: 950px;
		overflow: hidden;
		z-index: 1;
	}
	.footer {
		background: #C4A27A;
		display: flex;
		flex-direction: column;
		padding: 30px 60px;
		width: 100%;
		position: relative;
	}
	.footer__info {
		font-size: 11px;
		line-height: 15px;
	}
	a.footer__phone.title {
		font-size: 51px;
		line-height: 61px;
	}
	.footer__links {
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #313131;
		padding-top: 9px;
		margin-bottom: 84px;
		margin-top: 110px;
	}
	.f__links-item, .f__links-item a {
		font-size: 8px;
		line-height: 11px;
	}
	.footer__logo img {
		width: 100%;
	}
	.map .sticky__wrapper {
		display: none;
	}
	.call-img {
		width: 100%;
	}
	.steps__slider-main {
		padding: 0;
	}
	.partners__logo img {
		max-width: 60%;
	}
	.i__img img {
		scale: 1;
	}
	.call-img {
		scale: 1;
	}

	.header__info {
		padding-top: 225px;
		position: relative;
	}
	.header__info-title {
		position: revert;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		font-weight: 400;
		font-size: 64px;
		line-height: 125%;
		padding-bottom: 78px;
	}
	.header__info-img img {
		scale: 1;
		position: relative;
		width: 100%;
	}
	.premain__title {
		font-weight: 400;
		font-size: 112px;
		line-height: 125%;
		color: #DBBC9A;
		max-width: 338px;
		position: absolute;
		left: 164px;
		top: -115px;
		font-size: 58px;
		line-height: 125%;
	}
	.default__text {
		font-weight: 400;
		font-size: 11px;
		line-height: 125%;
	}
	.p__t-top {
		position: absolute;
		top: 200px;
		left: 590px;
		max-width: 218px;
		text-transform: none;
	}
	.premain__slider {
		padding-top: 371px;
		padding-left: 60px;
	}
	.p__slider-text {
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
		max-width: 212px;
	}
	.premain__slider-item img {
		max-height: 465px;
	}
	.p__slider-title {
		font-size: 34px;
		line-height: 41px;
	}
	.floor-plan {
		margin: 186px 0;
		max-height: 504px;
	}
	.floor-plan img {
		scale: 1;
		position: relative;
		width: 100%;
	}
	.fp__text-item {
		font-weight: 400;
		font-size: 21px;
		line-height: 125%;
	}
	.floor-plan__text {
		padding: 0 60px;
	}
	.about-slider img {
		border-radius: 0 0 52% 0;
		max-width: 734px;
		width: 100%;
	}
	.a-s__text-title {
		font-size: 15px;
		line-height: 125%;
	}
	.a-s__text-text {
		max-width: 196px;
		font-size: 11px;
		line-height: 125%;
	}
	.about-slider__text {
		max-width: 365px;
		padding: 23px;
		width: 100%;
		height: 384px;
		top: 90px;
		right: 60px;
	}
	.arrow-prev-black, .arrow-next-black {
		width: 44px;
		height: 44px;
	}
	.a-s__count {
		font-size: 11px;
		line-height: 125%;
	}
	.partners__title {
		margin-bottom: 31px;
	}
	.about-slider {
		margin-bottom: 186px;
	}
	.premain__infoblock {
		display: flex;
		justify-content: space-between;
		padding: 23px 60px;
	}
	.premain__title-i {
		font-weight: 400;
		font-size: 36px;
		line-height: 34px;
	}
	.i__top-text {
		font-weight: 400;
		font-size: 11px;
		line-height: 15px;
	}
	.line-text ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 186px 0;
		width: 275%;
	}
	.premain__banner {
		display: flex;
		position: relative;
		margin-left: 60px;
		margin-bottom: 322px;
	}
	.p__banner-title.title {
		font-weight: 400;
		font-size: 31px;
		line-height: 125%;
		max-width: 310px;
	}
	.p__banner-text {
		font-weight: 400;
		font-size: 11px;
		line-height: 125%;
		padding-top: 123px;
		max-width: 216px;
	}
	.premain__banner-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		max-width: 100%;
		width: auto;
		background: #C4A27A;
		font-weight: 400;
		line-height: 125%;
		color: #121212;
		padding: 52px 86px;
	}
	.premain__banner-img img {
		position: absolute;
		left: auto;
		top: 41px;
		border-radius: 0 0 0 50%;
		max-height: 485px;
		right: 0;
	}
	.territory__title.title {
		margin-bottom: 31px;
	}
	.t__item-num.title {
		font-size: 117px;
		line-height: 125%;
	}
	.t__item-text {
		font-size: 13px;
		line-height: 18px;
		max-width: 219px;
	}
	.t__item-value {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		max-width: 385px;
		flex-direction: column;
	}
	.territory__item-img img {
		max-width: 578px;
	}
	.static__map {
		display: flex;
	}
	.line-text ul li {
		background: url(../img/romb__adaptive.svg) no-repeat left center;
		padding-left: 40px;
		max-height: 90px;
		font-size: 51px;
		line-height: 61px;
	}
	.map.dark.section {
		padding: 186px 0;
	}
	.map.dark.section img {
		max-width: 670px;
	}

	.slider__image img {
		max-width: 204px;
	}
	.big-gallery img {
		max-width: 444px;
	}
	.sg__container.swiper-container .swiper-slide {
		margin: 280px 0;
	}
	.sg__prev, .sg__next {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		border: 1px solid #C4A27A;
		background: url(../img/arrow_new.svg) no-repeat center center;
		cursor: pointer;
		margin: 0 46px;
		transition: all .5s ease;
	}
	.small-gallery {
		width: 50%;
		justify-content: center;
		display: flex;
		align-items: center;
		max-height: 890px;
		overflow: hidden;
	}

	.docs {
		padding: 225px 60px 186px 60px;
	}
	.docs__container {
		display: flex;
		width: 100%;
		margin-top: 97px;
		flex-direction: column;
	}
	.docs__item {
		padding: 18px 0;
	}
	.docs__item-title {
		background: url(../img/docs__mini.svg) no-repeat left center;
		padding-left: 30px;
		font-weight: 400;
		font-size: 11px;
		line-height: 125%;
		text-align: center;
		color: #DBBC9A;
	}
	.docs__item-date {
		font-size: 11px;
		line-height: 125%;
	}
	.docs__item-download {
		padding: 4px 10px;
		font-size: 15px;
		line-height: 125%;
		font-size: 11px;
		line-height: 125%;
		text-transform: uppercase;
	}

	.ns-title-item.title {
		font-size: 68px;
		line-height: 125%;
	}
	.ns-title-item.gogol-text {
		top: -25px;
		font-size: 51px;
		line-height: 100%;
	}
	.news__seller {
		padding: 225px 58px 86px 58px;
	}
	.ns-nav {
		margin-top: 5px;
		display: flex;
		margin-bottom: 32px;
	}
	.ns-nav-item {
		font-size: 11px;
		line-height: 100%;
	}
	.ns-item-list .n__item-link {
		margin-right: 12px;
		margin-bottom: 12px;
	}
	.ns-item-list .n__item-link:nth-child(3n) {
		margin-right: 0;
	}
	.news__more-btn {
		padding: 4px 10px;
		font-size: 15px;
		line-height: 125%;
		font-size: 11px;
		line-height: 125%;
		text-transform: uppercase;
	}
	.news__more-btn {
		padding: 4px 10px;
		font-size: 15px;
		line-height: 125%;
		font-size: 11px;
		line-height: 125%;
		text-transform: uppercase;
		margin-top: 56px;
	}	
	.news__popup-img {
		max-height: 280px;
		object-fit: cover;
	}
	.news__popup-text {
		padding: 50px 110px 40px 110px;
		display: flex;
		flex-direction: column;
	}
	.np-text-date {
		font-weight: 400;
		font-size: 12px;
		line-height: 22px;
		color: #868686;
	}
	.np-text-title {
		font-weight: 400;
		font-size: 32px;
		line-height: 40px;
	}
	.np-text-content {
		margin-top: 42px;
		font-size: 14px;
		line-height: 20px;
	}
	.news__popup-btn {
		padding: 6px 15px;
		margin-bottom: 50px;
		font-weight: 500;
		font-size: 12px;
		line-height: 100%;
	}
	.news__popup-close {
		top: 34px;
		right: 34px;
		width: 44px;
		height: 44px;
		z-index: 9;
	}
	.news__popup-close img {
		max-width: 60%;
	}
	.contacts {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		padding: 225px 60px 59px 60px;
		justify-content: center;
		align-items: center;
	}
	span.c__footer-t.color-text {
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
	}
	a.c__footer-t, .c__footer-t {
		position: relative;
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
	}
	a.c__footer-t.contacts_map {
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
	}
	span.c__footer-t:first-child {
		margin-bottom: 2px;
	}
	a.c__footer-t:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: -4px;
		width: 0;
		height: 1px; /* Высота линии */
		background-color: #fff; /* Цвет подчеркивания при исчезании линии*/
		transition: width 0.5s; /* Время эффекта */
	}
	a.c__footer-t:hover:after {
		content: "";
		width: 82px;
		display: block;
		position: absolute;
		left: 0;
		bottom: -4px;
		height: 1px; /* Высота линии */
		background-color: #fff; /* Цвет подчеркивания при появлении линии*/
		transition: width 0.5s;  /* Время эффекта */
	}
	a.c__footer-t.contacts_map:after {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: -4px;
		width: 0;
		height: 1px; /* Высота линии */
		background-color: #C4A27A; /* Цвет подчеркивания при исчезании линии*/
		transition: width 0.5s; /* Время эффекта */
	}
	a.c__footer-t.contacts_map:hover:after {
		content: "";
		width: 185px;
		display: block;
		position: absolute;
		left: 0;
		bottom: -4px;
		height: 1px; /* Высота линии */
		background-color: #C4A27A; /* Цвет подчеркивания при появлении линии*/
		transition: width 0.5s;  /* Время эффекта */
	}
		
	
	.cat__nav {
		z-index: 999999;
		position: fixed;
		max-width: 380px;
		width: 100%;
	}
	.cat__nav-container {
		padding: 50px 30px;
		height: 100vh;
		max-width: 380px;
		width: 100%;
		background: #DBBC9A;
		display: flex;
		flex-direction: column;
		color: #000;
	}
	.back__btn {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		color: #000;
		display: flex;
		align-items: center;
	}
	.back__btn span {
		margin-left: 12px;
		font-size: 12px;
	}
	.cat__nav-list {
		margin-top: 160px;
		display: flex;
		flex-direction: column;
	}
	.cat__nav-section {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}
	.cat__nav-list-title {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.42);
		margin-bottom: 8px;
	}
	.cat__nav-section-btn {
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #000;
		border: 1px solid #000;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 34px;
		height: 34px;
		margin-right: 10px;
	}
	.range-value-left, .range-value-right {
		font-weight: 400;
		font-size: 14px;
		line-height: 27px;
		color: #000000;
		width: 60px;
	}
	.cat__nav-btn {
		background: #121212;
		color: #C4A27A;
		font-weight: 400;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		border: 1px solid transparent;
		margin-right: 8px;
	}
	.cat__container {
		padding-top: 225px;
		display: flex;
		justify-content: flex-end;
		padding-right: 60px;
	}
	.cat__wrapper {
		max-width: 530px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.cat__header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
		border-bottom: 1px solid #363636;
		align-items: center;
		margin-right: 40px;
	}
	.cat__header-item {
		text-align: center;
		font-weight: 400;
		font-size: 12px;
		line-height: 12px;
		color: rgba(255, 255, 255, 0.28);
		text-transform: uppercase;
		max-width: 105px;
		width: 100%;
	}
	.cat__list {
		display: flex;
		flex-direction: column;
		max-height: 400px;
		overflow: hidden;
		overflow-y: scroll;
		padding-right: 40px;
	}
	.cat__list::-webkit-scrollbar {
		width: 1px;
		position: relative; 
		left: 20px;            /* ширина scrollbar */
	}
	.cat__list::-webkit-scrollbar-track {
		background: rgba(0,0,0,0) ;        /* цвет дорожки */
	}
	.cat__list::-webkit-scrollbar-thumb {
		position: relative; 
		left: 20px; 
		background-color: #DBBC9A;    /* цвет плашки */
		border-radius: 10px;       /* закругления плашки */
		border: none;  /* padding вокруг плашки */
	}
	.cat__list {
		scrollbar-width: thin;          /* "auto" или "thin"  */
		scrollbar-color: #DBBC9A rgba(0,0,0,0)   /* плашка скролла и дорожка */ 
	}
	.cat__list::-webkit-scrollbar-track-piece:end {
		background: #606060;
		margin-bottom: 200px; 
	}
	
	.cat__list::-webkit-scrollbar-track-piece:start {
		background: #606060;
		margin-top: 50px;
	}
	.cat__list-item {
		padding: 10px 0;
		justify-content: space-between;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #363636;
	}
	.cat__list-element {
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		text-align: center;
		max-width: 105px;
		width: 100%;
		align-items: center;
	}
	.menu__container .menu-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 25px 60px;
	}
	.icon-line {
		background-color: #DBBC9A;
		width: 26px;
		height: 1px;
		margin-bottom: 5px;
		transition: all .5s ease;
	}
	.burger-btn.menu-burger .burger-text {
		font-weight: 500;
		font-size: 14px;
		line-height: 25px;
		text-transform: uppercase;
		color: #000000;
		margin-left: 8px;
	}
	.menu__container .btn {
		font-size: 14px;
	}
	.menu__container .logo {
		background: url(../img/black-logo.svg) no-repeat center center;
		background-size: 100%;
	}
	a.menu-link.title {
		font-size: 44px;
		line-height: 64px;
	}
	.menu-footer {
		margin: 0 60px;
	}
	.copyright {
		font-weight: 500;
		font-size: 11px;
		line-height: 18px;
		text-align: center;
		text-transform: uppercase;
		color: #121212;
		bottom: 0;
		left: 0;
		position: absolute;
	}
	.footer__menu-link {
		font-weight: 400;
		font-size: 12px;
		line-height: 158.7%;
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		transition: all .5s ease;
	}
	a.select-btn.btn, .menu__container .btn {
		font-size: 12px;
		line-height: 100%;
	}
 }
